{% extends "layouts/default.html" %} {% block title %}Home{% endblock %} {%
block head %} {{ super() }}
<style type="text/css">
  .important {
    color: #336699;
  }
</style>
{% endblock %} {% block content %}
<!-- Main content -->
<div class="px-5 flex flex-col items-center md:px-40">
  <div class="my-3">
    <h1 class="text-2xl font-bold text-neutral-800 mb-4">
      Heart disease prediction
    </h1>

    <p class="text-neutral-700 text-sm md:text-base tracking-wide">
      Heart disease or Cardiovascular disease (CVDs) are one of the leading
      causes of death worldwide. This system is to predict whether a person has a chance
      to get heart disease based on certain basic factors like gender, age,
      cholesterol, blood pressure, diabetes, smoking, family history and
      physical activity.
    </p>
  </div>



  <!-- Form -->
  <div class="flex flex-col gap-3 mt-5">
    <h2 class="text-lg font-bold text-neutral-800 w-full">Details</h2>
    <p class="text-neutral-700 text-sm md:text-base tracking-wide">Some sample input for testing</p>
    <img class="min-w-full" src="{{ url_for('static', filename='images/sample-inputs.png')}}" alt="sample-inputs">

    <form action="{{ url_for('index.predict')}}" method="post">
      <div class="flex flex-col gap-3 justify-start items-center">
        <div class="flex md:flex-row flex-col gap-5 w-full">
          <div class="md:w-1/2">
            <label for="">Name</label>
            <input class="input-field" type="text" name="name" placeholder="Your Name" required />
          </div>

          <div class="md:w-1/2">
            <label for="">Age</label>
            <input type="number" name="Age" id="age" class="input-field" placeholder="Your Age eg. 34" required />
          </div>
        </div>

        <div class="flex md:flex-row flex-col gap-5 w-full">
          <div class="md:w-1/2 w-full">
            <label for="">RestingBP</label>
            <input type="number" name="RestingBP" class="input-field"
              placeholder="Resting blood pressure (RestingBP) eg-130mm/hg" required />
          </div>


          <div class="md:w-1/2 w-full">
            <label for="">MaxHR</label>
            <input type="number" name="MaxHR" class="input-field" placeholder="Maximum heart rate achieved eg-187"
              required />
          </div>
        </div>
        <div class="flex md:flex-row flex-col gap-5 w-full">
          <div class="w-full">
            <label for="">Oldpeak</label>
            <input type="number" name="Oldpeak" class="input-field" step="0.01"
              placeholder="ST depression induced by exercise relative to rest (Oldpeak) eg-1.5" required />
          </div>
        </div>

        <div class="flex md:flex-row flex-col gap-5 w-full">
          <div class="md:w-1/2 w-full">
            <label for="">Cholesterol</label>
            <input type="number" name="Cholesterol" class="input-field"
              placeholder="Serum cholestoral in mg/dl (chol) eg-250" required />
          </div>

          <div class="md:w-1/2">
            <label for="sex">Sex</label>
            <select
              class="bg-gray-200 hover:border-neutral-400  focus:ring-neutral-800 focus:border-neutral-800 block  px-3 py-2 sm:text-base text-sm border-neutral-300 text-neutral-700 w-full transition duration-300 rounded focus:outline-none focus:bg-white border"
              id="sex" name="Sex" placeholder="sex" required>
              <!-- <option value="none">Select Gender (sex)</option> -->
              <option value="M">Male</option>
              <option value="F">Female</option>
            </select>
          </div>
        </div>

        <div class="flex md:flex-row flex-col gap-5 w-full">
          <div class="md:w-1/2 w-full">
            <label for="">Exercise induced angina (ExerciseAngina)</label>
            <select
              class="bg-gray-200 hover:border-neutral-400  focus:ring-neutral-800 focus:border-neutral-800 block  px-3 py-2 sm:text-base text-sm border-neutral-300 text-neutral-700 w-full transition duration-300 rounded focus:outline-none focus:bg-white border"
              name="ExerciseAngina" placeholder="ExerciseAngina" required>
              <!-- <option>Select exercise induced angina (ExerciseAngina)</option> -->
              <option value="Y">Yes</option>
              <option value="N">No</option>
            </select>
          </div>

          <div class="md:w-1/2">
            <label for="">Chest pain Type (ChestPainType)</label>
            <select
              class="bg-gray-200 hover:border-neutral-400  focus:ring-neutral-800 focus:border-neutral-800 block  px-3 py-2 sm:text-base text-sm border-neutral-300 text-neutral-700 w-full transition duration-300 rounded focus:outline-none focus:bg-white border"
              name="ChestPainType" placeholder="ChestPainType" required>
              <!-- <option>Select Chest pain Type (ChestPainType)</option> -->
              <option value="TA">Typical angina</option>
              <option value="ATA">Atypical angina</option>
              <option value="NAP">Non-anginal pain</option>
              <option value="ASY">Asymptomatic</option>
            </select>
          </div>
        </div>

        <div class="flex md:flex-row flex-col gap-5 w-full">
          <div class="md:w-1/2">
            <label for="">Fasting blood sugar > 120 mg/dl (FastingBS)</label>
            <select
              class="bg-gray-200 hover:border-neutral-400  focus:ring-neutral-800 focus:border-neutral-800 block  px-3 py-2 sm:text-base text-sm border-neutral-300 text-neutral-700 w-full transition duration-300 rounded focus:outline-none focus:bg-white border"
              name="FastingBS" placeholder="FastingBS" required>
              <!-- <option value="none">Select fasting blood sugar > 120 mg/dl (FastingBS)</option> -->
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </div>

          <div class="md:w-1/2">
            <label for="">Slope of the peak exercise (ST_Slope)</label>
            <select
              class="bg-gray-200 hover:border-neutral-400  focus:ring-neutral-800 focus:border-neutral-800 block  px-3 py-2 sm:text-base text-sm border-neutral-300 text-neutral-700 w-full transition duration-300 rounded focus:outline-none focus:bg-white border"
              name="ST_Slope" placeholder="ST_Slope" required>
              <!-- <option>Select slope of the peak exercise (ST_Slope)</option> -->
              <option value="Up">
                Upsloping: better heart rate with excercise(uncommon)
              </option>
              <option value="Flat">
                Flatsloping: minimal change(typical healthy heart)
              </option>
              <option value="Down">
                Downsloping: signs of unhealthy heart
              </option>
            </select>
          </div>
        </div>

        <div class="flex md:flex-row flex-col gap-5 w-full">


          <div class="w-full">
            <label for="">Resting electrocardiographic results (RestingECG)</label>
            <select
              class="bg-gray-200 hover:border-neutral-400  focus:ring-neutral-800 focus:border-neutral-800 block  px-3 py-2 sm:text-base text-sm border-neutral-300 text-neutral-700 w-full transition duration-300 rounded focus:outline-none focus:bg-white border"
              name="RestingECG" placeholder="RestingECG" required>
              <!-- <option value="none">
                Select resting electrocardiographic results (RestingECG)
              </option> -->
              <option value="Normal">Nothing to note</option>
              <option value="ST">ST-T Wave abnormality</option>
              <option value="LVH">
                Possible or definite left ventricular hypertrophy
              </option>
            </select>
          </div>
        </div>

        <div class="sm:w-1/2 w-full">
          <button type="submit"
            class="text-white bg-neutral-800 hover:bg-neutral-900 focus:outline-none focus:ring-4 focus:ring-neutral-300 w-full font-medium text-sm py-2">
            Predict
          </button>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}