<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

    <!-- Tailwindcss CSS Library which includes plugins forms, typography, aspect-ratio and line-clamp -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>

    <title>{% block title %}{% endblock %} - Heart Disease Prediction</title>
    {% endblock %}
  </head>
  <body class="flex flex-col gap-10">
    <div class="bg-neutral-100 border-y w-full">
      <div class="flex items-center justify-start sm:px-40 px-5 gap-5 py-5">
        <a
          class="text-neutral-500 hover:text-neutral-800 font-bold flex items-center justify-start gap-1"
          href="/"
        >
          <svg
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"
            ></path>
          </svg>
          Home
        </a>

        <a
          class="text-neutral-500 hover:text-neutral-800 font-bold flex items-center justify-start gap-1"
          href="/lg"
        >
          <svg
            class="w-5 h-5"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"
            ></path>
          </svg>
          Notebook
        </a>
        <!-- <a class="item"> <i class="mail icon"></i> Messages </a> -->
        <!-- <div class="ui simple dropdown item">
          More
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item"><i class="edit icon"></i> Edit Profile</a>
            <a class="item"><i class="globe icon"></i> Choose Language</a>
            <a class="item"><i class="settings icon"></i> Account Settings</a>
          </div>
        </div> -->
        <!-- <div class="right item">
          <div class="ui input">
            <input type="text" placeholder="Search..." />
          </div>
        </div> -->
      </div>
    </div>

    <div id="content" class="ui container">
      {% block content %}{% endblock %}
    </div>
    <div
      id="footer"
      class="flex w-full justify-center items-center py-5 border-y bg-neutral-100 text-sm text-neutral-500"
    >
      {% block footer %} &copy; Copyright 2008 by
      <a href="http://domain.invalid/">you</a>. {% endblock %}
    </div>
  </body>
</html>
