<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% assets 'css' %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  <title>{% block title %}{% endblock %} - Heart Disease Prediction</title>
  {% endblock %}
</head>

<body class="flex flex-col gap-10 items-center">
  <div class="bg-neutral-100 border-y w-full">
    <div class="flex items-center justify-start md:px-40 px-5 gap-5 py-5">
      <a class="capitalize text-sm text-neutral-500 hover:text-neutral-800 font-bold flex items-center justify-start gap-1"
        href="/">
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
          </path>
        </svg>
        Home
      </a>

      <a class="capitalize text-sm text-neutral-500 hover:text-neutral-800 font-bold flex items-center justify-start gap-1"
        href="/notebook">
        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z">
          </path>
        </svg>
        Notebook
      </a>
    </div>
  </div>

  <div id="content" class="ui container">
    {% block content %}{% endblock %}
  </div>
  <div id="footer"
    class="flex w-full justify-center items-center py-5 border-y bg-neutral-100 text-sm text-neutral-500 mt-5">
    {% block footer %} &copy; Copyright
    <script>document.write(new Date().getFullYear())</script> by&nbsp;
    <a href="https://tekipeps.me" class="underline">Tekena Solomon</a>. {% endblock %}
  </div>
</body>

</html>